.wrapper
  .header
    .header_title
      = link_to posts_path do
        %img{src:"/assets/Senior-to-do-title.png"}
    .header_user-edit
      編集画面
      = link_to posts_path do
        戻る 
%video{src:"/assets/mixkit-bunch-of-parsley-4355.mp4",autoplay:"autoplay", loop:"loop", muted: "muted"}
.edit_user-form
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :名前
      %em (最大6文字まで)
      %br/
      = f.text_field :name, autofocus: true, maxlength: "6"
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :新しいパスワード
      %br/
      = f.password_field :password, autocomplete: "new-password", placeholder:"※6文字以上"
    .field
      = f.label :確認パスワード
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"※6文字以上"
    .field
      = f.label :現在のパスワード
      %br/
      = f.password_field :current_password, autocomplete: "current-password", placeholder:"※必須"
    .actions
    = f.submit "UPDATE"
