.wrapper
  = render "top/header"
.main_user_new
  %img{src:"/assets/underwater-4286600_1920.jpg"}
  %h2 パスワードをお忘れですか？
  = form_for(@user, url: user_registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label "メールアドレス"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .actions
      = f.submit "送信"

