%canvas{id:"canvas"}
  %script{src:"/assets/background.js"}
.contents_row
  .container
    = form_with(model: [@post], local: true) do |form|
      %h3
        チェックする
      %label{class:"checkBox1",checked_value:"1", unchecked_value:"0"} 
        = form.check_box :textBox1
        やることその1
      %label{class:"checkBox2",checked_value:"1", unchecked_value:"0"}
        = form.check_box :textBox2
        やることその２
      %label{class:"checkBox3",checked_value:"1", unchecked_value:"0"}
        = form.check_box :textBox3
        やることその３
      %label{class:"checkBox4",checked_value:"1", unchecked_value:"0"}
        = form.check_box :textBox4
        やることその４
      %label{class:"checkBox5",checked_value:"1", unchecked_value:"0"}
        =form.check_box :textBox5
        やることその５
      .send
        = form.submit "送信"
